@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  background-color: #686868;
  color: #fff;
  box-shadow: 0px 4px 20px 0px #00000038;
  padding-block: 5px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

#port {
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border: 2px solid #A7A7A7;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#port > i {
    font-size: 30px;
}

#port > i, #port > img {
    margin-inline: 10px;
}

nav h1 {
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
}

.main {
  display: flex;
  flex: 1; /* takes the rest of the height after nav */
}

.side-bar {
  background-color: #686868;
  width: fit-content;
  color: #fff;
  padding: 15px 15px;
  box-shadow: 4px 0px 20px 0px #00000038;
  z-index: 1;
  transition: all ease-in-out 0.3s;
}

.side-bar button {
    border: none;
    border-radius: 10px;
    background-color: #ffffff1f;
    padding: 10px 10px;
    color: #fff;
    cursor: pointer;
}

.side-bar i {
  font-size: 30px;
}

.center {
    background-image: url("../public/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar-false {
  display: none;
}

.search-bar {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding-inline: 30px;
    margin-bottom: 10vh;
}

.search-bar i {
    font-size: 30px;
    color: #A8A8A8;
}

.search-bar input {
    font-family: "Poppins", sans-serif;
    border: none;
    font-size: 25px;
    outline: none;
    border-radius: 0px 20px 20px 0px;
    padding: 15px;
    width: 5vw;
    text-align: center;
    transition: all ease 0.2s;
}

.search-bar input:hover {
  width: 20vw;
}

.search-bar input:focus {
  width: 20vw;
}

.containers-false {
  display: none;
}

.containers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    width: fit-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.container-horizontal {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    place-items: center;
    gap: 10px 10px;
    background-color: #fff;
}

.container button {
    width: 50px;
    height: 50px;
    content: "";
    border: none;
    background-color: #D9D9D9;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.2s;
    color: #414141;
}

.container button i#pen {
  font-size: 20px;
  transition: all ease 0.2s;
  color: transparent;
}

.container button:hover {
    background-color: #c9c9c9;
}

.container button:hover #pen {
  color: #5c5c5c;
}

.container button.last {
    margin: 10px;
    width: 100%;
}

#settings {
    height: fit-content;
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

.edit-field-false {
  display: none;
}

.edit-field {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.partitions {
  display: flex;
  flex-direction: row;
}

.edit-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5vw;
}

.box-barcode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit-header button {
  font-family: "Comic Relief", system-ui;
  font-size: 20px;
  border: none;
  background-color: #fafafa;
  border-radius: 50%;
  cursor: pointer;
}

.edit-field h1 {
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partition {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #0000002f;
}

.partition input, textarea {
  width: 20vw;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  border: 2px solid #63636342;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all ease 0.2s;
  box-shadow: 0px 0px 10px 0px #00000027 inset;
}

.partition input:disabled {
  color: #000;
}

.partition textarea {
  resize: none;
}

.partition input:hover, .partition input:focus, .partition textarea:hover, .partition textarea:focus {
  border-color: #636363ee;
}

input[type="submit"] {
  width: 99%;
  font-family: "Poppins", sans-serif;
  border: 2px solid #A7A7A7;
  background-color: #fafafa;
  color: #000;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
  margin: 10px 10px;
  padding-block: 5px;
}

input[type="submit"]:hover {
  background-color: #e9e9e9;
}

input.barcode {
  border: none;
  border-bottom: 2px solid black;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 0px 0px;
  outline: none;
  margin-inline: 0.5vw;
  text-align: center;
  width: 5vw;
}

input.barcode::-webkit-outer-spin-button, input.sku::-webkit-outer-spin-button, input.sku::-webkit-inner-spin-button,
input.barcode::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spinner-false {
  display: none;
}

.spinner {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 9px solid #fff;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
       spinner-oaa3wk 1s infinite linear;
}

@keyframes spinner-bulqg1 {
  0% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }

  25% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }

  50% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  62.5% {
     clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  75% {
     clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }

  100% {
     clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}

@keyframes spinner-oaa3wk {
  0% {
     transform: scaleY(1) rotate(0deg);
  }

  49.99% {
     transform: scaleY(1) rotate(135deg);
  }

  50% {
     transform: scaleY(-1) rotate(0deg);
  }

  100% {
     transform: scaleY(-1) rotate(-135deg);
  }
}